#portfolio {
  .row {
    --bs-gutter-y: 40px;
    --bs-gutter-x: 40px;
  }
  .portfolio_item {
    background: $color_bg_variant;
    padding: 1.5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: $transition;
    &:hover {
      border-color: $color_brand_variant;
      background: transparent;
      .portfolio_img {
        img {
          transform: scale(1.1);
        }
      }
    }
    .portfolio_img {
      border-radius: 1.5rem;
      overflow: hidden;
      margin-bottom: 1.2rem;
      img {
        transition: $transition;
      }
    }
    h6 {
      margin-bottom: 1.5rem;
    }
    .buttons {
      display: flex;
      gap: 1rem;
    }
  }
}
