.heading {
  margin-bottom: 30px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-family: $font_titles !important;
  font-weight: bold;
  text-align: inherit;
  position: relative;
  color: $color_black;
  letter-spacing: -0.01em;
}
a {
  color: $color_brand;
  &:hover {
    color: $color_white;
  }
}

h1 {
  @include fluid-type($font_size_h1_mobile, $font_size_h1);
  line-height: 56px;
}

h2 {
  @include fluid-type($font_size_h2_mobile, $font_size_h2);
  line-height: 1.3;
}

h3 {
  @include fluid-type($font_size_h3_mobile, $font_size_h3);
  line-height: 1.4;
}

h4 {
  @include fluid-type($font_size_h4_mobile, $font_size_h4);
  line-height: 1.5;
}

h5 {
  @include fluid-type($font_size_h5_mobile, $font_size_h5);
  line-height: 1.6;
}

h6 {
  @include fluid-type($font_size_h6_mobile, $font_size_h6);
  line-height: 1.7;
}

.txt_hero {
  font-size: 72px;
}

.txt_lg {
  font-size: 23px;
  &._bold {
    font-family: $font-primary;
  }
}

.txt {
  font-size: 17px;
  &._bold {
    font-family: $font-primary;
  }
}

.txt_sm {
  font-size: 16px;
  &._bold {
    font-family: $font-primary;
  }
}

.txt_xs {
  font-size: 13.5px;
  &._bold {
    font-family: $font-primary;
  }
}
