#contact {
  .row {
    --bs-gutter-y: 40px;
    --bs-gutter-x: 40px;
  }
  .contact_info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .contact_box {
      background: $color_bg_variant;
      border: 1px solid transparent;
      border-radius: 2rem;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      span {
        text-align: center;
      }
      .contact_icon {
        font-size: 25px;
        margin-bottom: 1rem;
      }
      .submit {
        margin-top: 1rem;
      }
    }
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    input,
    textarea {
      padding: 1.2rem;
      border: 1px solid $color_brand;
      border-radius: 0.25rem;
      background: transparent;
      color: $color_white;
      &::placeholder {
        color: $color_text;
        font-size: 15px;
      }
    }
    textarea {
      resize: none;
    }
  }
}
