section {
  margin-top: 8rem;
  @include tablet_screen {
    margin-top: 6rem;
  }
  .heading {
    color: $color_brand;
    text-align: center;
    margin-bottom: 3rem;
  }
  .subheading {
    color: $color_light;
    text-align: center;
  }
}
