#testimonials {
  .swiper {
    padding-bottom: 3rem;
    .swiper-pagination {
      bottom: 0;
      .swiper-pagination-bullet {
        background: $color_brand_variant;
        &.swiper-pagination-bullet-active {
          background: $color_brand;
        }
      }
    }
  }
  .Testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $color_bg_variant;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;

    .client_avatar {
      width: 4rem;
      aspect-ratio: 1/1;
      border-radius: 50%;
      overflow: hidden;
      margin-bottom: 1rem;
      border: 3px solid $color_brand_variant;
    }
    .client_name {
      margin-bottom: 0.5rem;
    }
    .client_review {
      color: $color_text;
      text-align: center;
    }
  }
}
