// ------ Global variable fonts
$font-primary: "Poppins-Bold";
$font-secondary: "Poppins-Regular";
$font-light: "Poppins-Light";

// Animation & transitions
$transition_function: cubic-bezier(0.4, 0, 0.2, 1);
$transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);

// Typography - font families
$font_main: $font-secondary, -apple-system, sans-serif, BlinkMacSystemFont,
  Roboto, "Segoe UI", Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font_titles: $font-primary, -apple-system, BlinkMacSystemFont, Roboto,
  "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";

// Typography - font sizes
$font_size_xsmall: 12px;
$font_size_small: 15px;
$font_size_regular: 16px;
$font_size_large: 22px;
$font_size_large_mobile: 16.6px;

$font_size_h1: 48px;
$font_size_h1_mobile: 44px;

$font_size_h2: 36px;
$font_size_h2_mobile: 32px;

$font_size_h3: 28px;
$font_size_h3_mobile: 24px;

$font_size_h4: 24px;
$font_size_h4_mobile: 20px;

$font_size_h5: 20px;
$font_size_h5_mobile: 18px;

$font_size_h6: 17px;
$font_size_h6_mobile: 16px;
